/* =========================
   AI ORB
========================= */

.ai-orb-container {
    display: grid;
    place-items: center;
}

.ai-orb {
    width: 320px;
    height: 320px;

    position: relative;

    display: grid;
    place-items: center;
}

.orb-ring {
    position: absolute;

    inset: 0;

    border-radius: 50%;

    border: 1px solid rgba(255, 255, 255, 0.1);
}

.orb-ring-one {
    transform: rotate(25deg) scaleY(0.45);
}

.orb-ring-two {
    transform: rotate(-25deg) scaleY(0.45);
}

.orb-ring-three {
    inset: 17%;

    border-color: rgba(255, 128, 72, 0.25);
}

.orb-core {
    width: 115px;
    height: 115px;

    position: relative;

    display: grid;
    place-items: center;

    border-radius: 50%;

    color: white;

    background:
        linear-gradient(135deg,
            #ff7b43,
            #8769ff);

    box-shadow:
        0 0 70px rgba(139, 105, 255, 0.25),
        0 0 110px rgba(255, 110, 55, 0.15);
}

.orb-sparkle {
    position: absolute;

    right: 10px;
    top: 8px;

    color: #fff;
}

@media (max-width: 800px) {
    .ai-orb-container {
        margin-top: 60px;
    }
}

@media (max-width: 520px) {
    .ai-orb {
        width: 250px;
        height: 250px;
    }

    .orb-core {
        width: 90px;
        height: 90px;
    }
}